<div>
<div *ngIf="!submitted">
<form [formGroup]="userForm" (ngSubmit)="PostData(userForm)" enctype="multipart/form-data">
  <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-9">
          <input type="text" formControlName='title' class="form-control"
              [ngClass]="{'is-invalid': submitted && userForm.controls.title.invalid}">
          <div class="invalid-feedback" *ngIf="submitted && userForm.controls.title.invalid">
              <div *ngIf="userForm.controls.title.errors.required">Title is required</div>
              <div *ngIf="userForm.controls.title.errors.email">Title is invalid</div>
          </div>
      </div>
  </div>

  <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-9">
          <textarea type="text" formControlName='description' class="form-control"
              [ngClass]="{'is-invalid': submitted && userForm.controls.description.invalid}" rows="10" cols="8"></textarea>
          <div class="invalid-feedback" *ngIf="submitted && userForm.controls.description.invalid">
              <div *ngIf="userForm.controls.description.errors.required">description is required</div>
          </div>
      </div>

  </div>

  <div class="form-group row">
      <label for="urltoimage" class="col-sm-2 col-form-label">UrlToImage</label>
      <div class="col-sm-9">
          <input type="text" formControlName='urltoimage' class="form-control"
              [ngClass]="{'is-invalid': submitted && userForm.controls.urltoimage.invalid}">
      </div>
  </div>
  <div class="form-group row">
    <label for="url" class="col-sm-2 col-form-label">URL</label>
    <div class="col-sm-9">
        <input type="text" formControlName='url' class="form-control"
            [ngClass]="{'is-invalid': submitted && userForm.controls.url.invalid}">
    </div>
</div>


  <div class="form-group row">
      <label class="col-sm-2 col-form-label">&nbsp;</label>
      <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default">Cancel</button>
      </div>
  </div>
</form>
</div>
<div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newCAdata()">Add CA</button>
  </div>
</div>
